services:
  eagletunnelapi:
    image: kimfom01/eagletunnelapi
    build:
      context: .
    env_file:
      - .env
    restart: unless-stopped
    networks:
      - remnawave-network

networks:
  remnawave-network:
    driver: bridge
    external: true